.main {
  width: 100%;
  padding: 0 clamp(20px, 1.5625vw, 30px);
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 918px;
  }
}

@media screen and (max-width: 360px) {
  .main {
    padding: 0 21px;
  }
  .container {
    max-width: none;
  }
}
